In [1]:
import pandas as pd
from faker import Faker
from uuid import uuid4
from tqdm import tqdm
import random

faker = Faker()

In [2]:

# Fonction pour générer un identifiant unique
def create_id():
    return str(uuid4())

# Fonction pour générer un montant moyen aléatoire
def generate_average_amount():
    return round(random.uniform(5.0, 1000.0), 2)

# Fonction pour générer une fréquence de transactions aléatoire
def generate_frequency():
    return random.randint(1, 30)

# Fonction pour générer une localisation fréquente aléatoire
def generate_most_common_location():
    return faker.city()

# Fonction pour générer un appareil le plus utilisé aléatoire
def generate_most_common_device():
    return random.choice(['mobile', 'tablette'])

# Fonction pour créer une table de transaction patterns
def create_transaction_patterns_table(length=100):

    transaction_patterns = pd.DataFrame()

    # Les listes
    pattern_id_list = []
    customer_id_list = []
    average_amount_list = []
    frequency_list = []
    most_common_location_list = []
    most_common_device_list = []

    # Générer les valeurs
    for i in tqdm(range(length)):
        pattern_id = create_id()
        customer_id = create_id()  # Remplacer par un identifiant client réel si disponible
        average_amount = generate_average_amount()
        frequency = generate_frequency()
        most_common_location = generate_most_common_location()
        most_common_device = generate_most_common_device()

        # Ajouter dans les listes
        pattern_id_list.append(pattern_id)
        customer_id_list.append(customer_id)
        average_amount_list.append(average_amount)
        frequency_list.append(frequency)
        most_common_location_list.append(most_common_location)
        most_common_device_list.append(most_common_device)
    
    # Assigner aux colonnes de la table transaction patterns (en dehors de la boucle)
    transaction_patterns['pattern_id'] = pattern_id_list
    transaction_patterns['customer_id'] = customer_id_list
    transaction_patterns['average_amount'] = average_amount_list
    transaction_patterns['frequency'] = frequency_list
    transaction_patterns['most_common_location'] = most_common_location_list
    transaction_patterns['most_common_device'] = most_common_device_list

    return transaction_patterns

# Créer une table de transaction patterns
transaction_patterns = create_transaction_patterns_table()

# Afficher les premières lignes de la table transaction patterns
transaction_patterns

100%|██████████| 100/100 [00:00<00:00, 2326.85it/s]

,pattern_id,customer_id,average_amount,frequency,most_common_location,most_common_device
0,b1c96a8a-9c23-47d3-914f-bc77a2f4c7b4,efb14bae-6a47-426a-94f5-96f03e328a71,307.82,7,Guerraland,mobile
1,4b0afadf-07e5-4c7d-b473-f3e7a291ddda,8e43f57e-d779-4a76-a81a-6af6fd5faff1,63.15,10,Lake Daleshire,tablette
2,91d0c9ab-cfae-4d09-aab1-3cc0ac49abc8,40695626-0f21-4078-ac70-7ce76992ec3d,303.99,27,Tammyhaven,tablette
3,4e223783-090a-4bae-a112-9148f97eca44,c66a2608-c2b5-4ec8-94db-e28ea1ca5780,82.35,26,Torresview,mobile
4,4dc04a59-bdb3-4344-8e9b-85f14f1b7c1d,d4fdafa1-0ca2-4c7a-bbb6-6dec7175bd33,204.67,22,South Stephenborough,tablette
...,...,...,...,...,...,...
95,253e8039-23f8-4bec-bfd4-bcadcf49b6f9,a6ee8a89-d3aa-4c4c-80dd-cad74de47269,33.01,2,Lisaton,mobile
96,a8961d9a-2a4e-416a-b72b-a19e573d1aff,46cb5b4a-8fe8-46f3-a792-6a389bece048,180.01,18,Justinberg,mobile
97,ca71c7e2-0ff4-4b7d-b484-e4024afdc12d,4904ec9b-05e5-40ba-9042-f97724c73c83,170.02,7,West Christinastad,mobile
98,fc0a503b-ff3a-4799-9f4a-835cef399c59,6650167b-4e6b-4ac1-bc60-0cb6d9293a4d,761.57,26,Marshalltown,mobile
99,c69ddc8c-df67-4d7c-820e-cced69f1256e,a2d00261-9022-4793-b571-722566c2f712,653.63,24,Caitlinshire,mobile